{% extends "base.html" %}
{% block body %}

<p>Here's our <a href="https://www.facebook.com/groups/seattlerationality/">Facebook page</a>.</p>

<p>Here's <a href="https://www.facebook.com/groups/SeattleEffectiveAltruists/">Seattle Effective Altruists' Facebook page</a>.</p>

<p>Here's <a href="https://www.facebook.com/groups/SeattleEffectiveAltruists/">Seattle Effective Altruists' Facebook page</a>.</p>

<p>Here's <a href="https://www.facebook.com/groups/791851244271754/">Seattle MIRIx and Friendly AI's Facebook page</a>.</p>

{% endblock %}
