<h1>Seattle Rationality</h1>

Site index:
<ul>
  <li><a href="/lightning_talks">lightning talks</a></li>
  <li><a href="/calendar">calendar</a></li>
</ul>

External links:
<ul>
  <li><a href="https://www.facebook.com/groups/seattlerationality/">our Facebook page</a></li>
  <li><a href="https://www.facebook.com/groups/SeattleEffectiveAltruists/">Seattle Effective Altruists' Facebook page</a></li>
</ul>

<p style="font-size:.8em; color:gray">
  (<a href="/admin">Admin site</a>. You'll have to <code>python manage.py createsuperuser</code> to log in.)
</p>
