{% extends "base.html" %}
{% block body %}

<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Seattle Rationality</h1>
    <p class="lead">Big subtitleish thing!</p>
  </div>

  <p>Here's a <a href="/calendar">calendar</a>.</p>

  <p>Here're our <a href="{% url 'lightning_talks:index' %}">lightning talks</a>.</p>

  <p>Here's our <a href="https://www.facebook.com/groups/seattlerationality/">Facebook page</a>.</p>

  <p style="font-size:.8em; color:gray">
    (<a href="/admin">Admin site</a>. You'll have to <code>python manage.py createsuperuser</code> to log in.)
  </p>

</div>


{% endblock %}
